# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.output
Data.txt
Work_2.txt
.vinxi
.tanstack/**
Links.txt
open-links.ps1
Design.md
.env
.nitro
*.local

# Vercel
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
STORE-build-spec.md
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
